<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merci</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/thnx_for_submit.css') }}">
    <style>
        
    </style>
</head>
<body>
    <div class="container">
        <h1>Merci !</h1>
        <p>Votre message a été reçu. Nous vous remercions pour vos retours.</p>
        <p><a href="{{ url_for('home_fr') }}">Retour à l'accueil</a></p>
    </div>
</body>
</html>
